body {
  text-align: center;
  background-color: #011F3F;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin:  3%;
  color: rgb(150, 150, 150);
}

.container {
  display: block;
  width: 50%;
  margin: auto;
  margin-top: 4%;

}

.btn {
  margin-top: 15px;
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 20px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 12px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}
